#PROJECT CONFIGS
PROJECT_NAME=

#DB
NEON_DATABASE_URL=postgresql://xxx:xxx@xxx-xxx-xxx-xxx-xxx.us-east-2.aws.neon.tech/xxx?sslmode=require

### AI KEYS
OPENAI_API_KEY=sk-svcacct-xxx-xxx
ANTHROPIC_API_KEY=sk-ant-xxx-xxx-xxx


#DYNADOT_API_KEY_PROD=xxx
BITLAUNCH_API_KEY=
IMPROVMX_API_KEY=sk_
IMPROVMX_USERNAME=info@dial.wtf
IMPROVMX__PASSWORD=x
ADMIN_EMAIL=info@dial.wtf
RESEND_API_KEY=re_xxx

#HUNTER_API_KEY=xx
#ETHERSCAN_API_KEY=xxx
#BASESCAN_API_KEY=xxx
#MERCURY_API_KEY=xxx
#APOLLO_IO_API_KEY=xxx
#CRYPTON_API_KEY=xxx
#GITHUB_TOKEN=xxx
MYSQL_ROOT_PASSWORD=xxx
MAUTIC_DB_PASSWORD=xxx
MAUTIC_ADMIN_PASSWORD=xxx
MAUTIC_ADMIN_EMAIL=info@dial.wtf
MAUTIC_URL=http://localhost:8000